
#macro( mainLayout )
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>HRTZ - $!title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <body>
        #include('views/top-menu.vm')
        <div class="container main">
            $!bodyContent
        </div>        
        #include('views/footer.vm')
    </body>
</html>
#end