#parse('views/main-layout.vm')
#@mainLayout()
<header>
    <h1>Training zones</h1>
</header>
<table>
    <thead>
    <tr>
        <th>Zone</th>
        <th>Min. (bpm)</th>
        <th>Max. (bpm)</th>
    </tr>
    </thead>
    <tbody>
        #foreach ($zone in $zones)
        <tr>
            <td>${zone.name}</td>
            <td>${zone.minimum}</td>
            <td>${zone.maximum}</td>
        </tr>
        #end
    </tbody>
</table>
#end
